* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding: 30px 0;
}

.catalog__cards {
   display: flex;
   flex-wrap: wrap;
}

.catalog__card {
   max-width: 210px;
   background: #FFFFFF;
   border: 1px solid #E7E6E6;
   border-radius: 10px;
   text-align: center;
   padding: 30px;
   margin: 15px;
}

.catalog__card a {
   color: #1E1E1E;
   text-decoration: none;
   text-align: initial;
}

.catalog__card-img {
   margin-bottom: 30px;
}

.catalog__card-descr {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #76737D;
   margin-bottom: 5px;
}

.catalog__card-price {
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   display: flex;
   align-items: center;
   color: #176975;
   margin-bottom: 5px;
}

.catalog__card-cash {
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #0D727E;
}

.catalog__card-title {
   font-weight: 700;
   font-size: 16px;
   margin-bottom: 5px;
}

.catalog__card-title:last-child {
   margin-bottom: 0;
}

.catalog__top {
   display: grid;
   grid-template-areas: ". container .";
   grid-template-columns: 7% 86% 7%;
}

.catalog__top-container {
   display: grid;
   grid-area: container;
}

.breadcrumb ul {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
}

.breadcrumb li:not(:last-child)::after {
   display: inline-block;
   content: "";
   background: url(../img/arrow-left.svg) no-repeat;
   width: 7px;
   height: 7px;
}

.catalog__breadcrumb {

   margin-bottom: 30px;
}

.catalog__breadcrumb-item {
   font-size: 14px;
   margin-right: 5px;
}

.catalog__breadcrumb-link {
   font-weight: 700;
   color: #176975;
   text-decoration: none;
   padding-right: 3px;
}

.catalog__breadcrumb span {
   font-size: 14px;
   color: #76737D;
}

.catalog__top-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
   color: #1E1E1E;
}

.accordion-menu {
   width: 100%;
   max-width: 350px;
   background: #fff;
   border-radius: 4px;
}

.accordion-menu li.open .dropdownlink {
   color: #0D727E;
}

.accordion-menu li.open .dropdownlink .fa-chevron-down {
   transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
   border-bottom: 0;
}

.dropdownlink {
   cursor: pointer;
   display: block;
   position: relative;
   transition: all 0.4s ease-out;
}


.dropdownlink .fa-chevron-down {
   right: 12px;
   left: auto;
}

.submenuItems {
   display: none;
}

.submenuItems a {
   display: block;
   transition: all 0.4s ease-out;
   text-decoration: none;

}

.submenuItems a:hover {
   color: #0D727E;
}

.catalog__asides {
   grid-area: aside;
   width: 90%;
}

.catalog__accordion-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #1E1E1E;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.catalog__accordion-list {
   padding-bottom: 20px;
}

.catalog__accordion-item {
   margin-bottom: 10px;
}

.catalog__accordion-item:last-child {
   margin-bottom: 0;
}

.catalog__accordion-link {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #76737D;
}

.catalog__item {
   background: #FFFFFF;
   border: 1px solid #E7E6E6;
   border-radius: 10px;
   padding: 30px;
   margin-bottom: 30px;
}

.catalog__item:last-child {
   margin-bottom: 0;
}

.container price-range {
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
}



.price-input {
   width: 100%;
   display: flex;
   margin: 30px 0 35px;
}

.price-input .field {
   display: flex;
   width: 100%;
   height: 45px;
   align-items: center;

}

.field input {
   width: 100%;
   height: 100%;
   outline: none;
   font-size: 14px;
   border-radius: 10px;
   text-align: center;
   border: 1px solid #76737D;
   -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

.price-input .separator {
   width: 130px;
   display: flex;
   font-size: 19px;
   align-items: center;
   justify-content: center;
}

.sliders {
   height: 5px;
   position: relative;
   background: #ddd;
   border-radius: 5px;
}

.sliders .progress {
   height: 100%;
   left: 25%;
   right: 25%;
   position: absolute;
   border-radius: 5px;
   background: #176975;
}

.range-input {
   position: relative;
}

.range-input input {
   position: absolute;
   width: 100%;
   height: 5px;
   top: -5px;
   background: none;
   pointer-events: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
   height: 17px;
   width: 17px;
   border-radius: 50%;
   background: #176975;
   pointer-events: auto;
   -webkit-appearance: none;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
   height: 17px;
   width: 17px;
   border: none;
   border-radius: 50%;
   background: #176975;
   pointer-events: auto;
   -moz-appearance: none;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* контейнер */
.checkbox-container {
   display: block;
   position: relative;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.catalog__checkbox {
   font-size: 14px;
   line-height: 17px;
   color: #1E1E1E;
   padding-left: 36px;
   margin-bottom: 20px;
}

.catalog__checkbox span {
   color: #76737D;
   padding-left: 3px;
}

/* скрываем дефолтный флажок */
.container .check-highload {
   position: absolute;
   opacity: 0;
}

/* Создаем кастомный checkbox */
.highload2 {
   position: absolute;
   top: -2px;
   left: 0;
   height: 16px;
   width: 16px;
   background-color: #eee;
   border-radius: 5px;
   border: 2px solid #76737D;
}

/* При наведении указателя мыши перекрашиваем */


/* Когда отмечен, то красим в зеленый цвет */
.container .check-highload:checked~.highload2 {
   background: #0D727E;
   border: 2px solid transparent;
}

/* Создаем когда отмечено (не видно, когда не отмечено) */
.highload2:after {
   content: "";
   position: absolute;
   display: none;
}

/* Показываем когда отмечен */
.container .check-highload:checked~.highload2:after {
   display: block;
}

/* Стили индикатора */
.container .highload2:after {
   left: 4px;
   top: 0px;
   width: 6px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}

.catalog__submenuItems {
   padding-top: 6px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   cursor: pointer;
}

select::-ms-expand {
   display: none;
}

select:focus-visible {
   outline: 0;
}

.catalog__filtrs-select {
   font-size: 14px;
   color: #1E1E1E;
   border: transparent;
   border: 1px solid #E7E6E6;
   border-radius: 10px;
   padding: 14px 45px 14px 25px;
}

.catalog__filtrs-label {
   font-weight: 400;
   font-size: 14px;
   color: #76737D;
   margin-right: 10px;
}

.paginator-active {
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   background: #77C9CC;
   border-radius: 10px;
   color: #fff !important;
}

.catalog__paginato li a {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 5px;
   width: 40px;
   height: 40px;
   font-weight: 700;
   color: #77C9CC;
   text-align: center;
   text-decoration: none;
   border: 2px solid #77C9CC;
   border-radius: 10px;
   transition: all .2s linear;
}

.catalog__paginato li a:hover {
   background: #77C9CC;
   color: #fff;
}

.catalog__paginato li a i {
   font-weight: 700;
}

.catalog__paginator--on {
   margin-top: 25px;
}